@import './animation';

//------------------------------ 前台樣式
header {
  width: 100%;
  padding: 10px 0;
  border-bottom: 5px solid #f2ebe6;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
   
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;    
  }

  h1 {
    margin: 0;
    img {
      width: 200px;
    }
  }

  nav {
    flex: 1;

    &>div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    ul {
      text-align: right;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        position: relative;  
      }

      a {
        color: #222;
        font-size: 1.2rem;
      }

      a:hover {
        color: #d16161;
      }

      .active {
        position: relative;
      }

      .active::after {
        content: '';
        width: calc(100% - 1.8rem);
        height: 3px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0.9rem;
        background-color: #eaa397;
      }
    }

    ul.icon {
      padding-left: 5px;
      margin-left: 5px;
      position: relative;
    }

    ul.icon::before {
      content: '';
        width: 2px ;
        height: 50%;
        background-color: #e9e9e9;
        position: absolute;
        top:25%;
        left: 0;
    }

    .menu-toogle {
      display: none;
    }

    .cart-items {
      min-width: 22px;
      height: 22px;
      line-height: 22px;
      color: #222;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      padding: 0 5px;
      display: block;
      border-radius: 50%;
      background-color: #fdc8bf;
      position: absolute;
      top: 0;
      left: 30px;
    }
  }
}

header.index-header-top {
  border-bottom: none;
  background: rgba($color: #000, $alpha: .5);

  h1 {
    .logo {
      display: none;
    }
  }

  nav {
    &>div {
      justify-content: center;
    }

    ul {
      text-align: center;

      a {
        color: #fff;
      }
    }

    ul.icon::before {
      background-color: #5d5d5d;
    }
  }
}

h2.title {
  text-align: center;
  margin-bottom: 50px;

  span {
    font-weight: bold;
    padding-bottom: 3px;
    display: inline-block;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #dbc7b9;
      position: absolute;
      bottom: -9px;
      left: 0;
    }
    &::after {
      bottom: -13px;
    }
  }

  &.title-page {
    padding: 145px 0 70px;
    background-color: #f7f7f7;
  }
}

.index-banner {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf3ed;
  background-position: center;
  background-image: url(@/../assets/img/banner.jpg);

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba($color: #faf3ed, $alpha: .9);
    background: rgba($color: #000, $alpha: .6);
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
  }

  section {
    width: 800px;
    padding: 35px 30px 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($color: #000, $alpha: .6);

    p {
      font-size: 2rem;
      width: 100%;
      padding: 30px 0 0 0;
      margin: 30px 0 0;
      text-align: center;
      color: rgba($color: #f1e6e2, $alpha: .8);
      border-top: 2px solid rgba($color: #f1e6e2, $alpha: .5);
    }
  }

  .next {
    width: 40px;
    position: absolute;
    left: calc(50% - 20px);
    bottom: 15%;

    &>div {
      height: 13px;
      cursor: pointer;
      text-align: center;

      i {
        font-size: 1.5rem;
        color: #f2e7e3;
        opacity: 0;
        animation-name: twinkling;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }

      @for $i from 1 through 3 {
        &:nth-last-of-type(#{$i}) {
          i {
            animation-delay: #{$i * 0.8}s;
          }
        }
      }
    }
  }
}

.index-coupon {
  padding: 100px 0;
  overflow: hidden;

  .promotions {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    position: relative;

    h2.title {
      margin-bottom: 35px;

      span {
        color: #d16161;

        &::before,
        &::after {
          background-color: #d16161;
        }
      }
    }
  }

  .coupon-wrap {
    width: 100%;
    height: 180px;
    position: relative;
    transition: .8s all ease;
    opacity: 0;
    left: -100vw;

    &.slide {
      opacity: 1;
      left: 0;
    }
  }

  .coupon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    transform-style: preserve-3d;
    transition: .5s all ease;
    background: radial-gradient(transparent 0, transparent 4px, #00646f 4px);
    background-size: 15px 14px;
    background-position: calc(100% + 7px) 0px;
    background-repeat: repeat-y;
    background-color: #fff;
    
    &:hover {
      transform: translateY(-25px);
    }
  }

  .cover {
    width: 98%;
    height: 100%;  
    color: #efeae7;
    display: flex;
    position: absolute;
    z-index: 2;
    background: #00646f;

    .topic {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      border-right: 1px dashed #dfff;
      background: linear-gradient(135deg,  #00474f 0%,#006671 100%);

      span {
        font-size: 2rem;
      }
      .icon {
        margin-top: 5px;

        i {
          font-size: 1.5rem;
          margin: 0 5px;
          opacity: 0.5;
        }
      }
    }

    .lucky {
      width: 20%;
      font-size: 1.2rem;
      color: #bedbdf;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 5px;
      text-indent: 5px;
      -webkit-writing-mode: vertical-lr;
      writing-mode: vertical-lr;
    }
  }
  
  .discount {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transform: rotateY(180deg);
    background: linear-gradient(to right, #ffd0c9 0%,#ffe7e2 35%,#ffe7e2 65%,#ffd0c9 100%);

    p {
      font-size: 1.2rem;
      margin: 0;
    }
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .code {
      color: #ca4934;
      font-size: 1.8rem;
      padding: 2px 29px;
      margin-top: 15px;
      background: rgba($color: #fff, $alpha: .8);
    }
  }

  .active {
    .coupon {
      width: 120%;
      height: 120%;
      cursor: default;
      transform: rotateY(180deg);
      background: radial-gradient(transparent 0, transparent 4px, #ffd0c9 4px);
      background-size: 15px 14px;
      background-position: calc(100% + 7px) 0px;
      background-repeat: repeat-y;
      top: -10%;
    }

    .cover {
      z-index: 1;
      backface-visibility: hidden;
    }

    .discount {
      width: 99%;
      z-index: 2;
      backface-visibility: visible;

      &::after {
        content: '';
        width: 8px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: radial-gradient(transparent 0, transparent 4px, #ffd0c9  4px);
        background-size: 15px 14px;
        background-position: calc(100% + 7px) 0px;
        background-repeat: repeat-y;
        background-color: #fff;
      }
    }
  }

  .no-active {
    .coupon {
      width: 87%;
      cursor: default;

      &::after {
        content: '';
        width: calc(100% - 8px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: rgba($color: #000, $alpha: .3);
      }
      &:hover {
        transform: translateY(0);
      }
    }
  }
  .row {
    &>div:nth-of-type(1) {
      &.no-active+.no-active {
        .coupon {
          left: -10%;
        }
      }
    }

    &>div:nth-of-type(2) {
      &.active {
        .coupon {
          left: -10%;
        }
      }
      &.no-active {
        .coupon {
          left: 23%;
        }
      }
    }

    &>div:nth-of-type(3) {
      &.active {
        .coupon {
          left: -20%;
        }
      }
      &.no-active {
        .coupon {
          left: 13%;
        }
      }
    }
  }
}

.index-about {
  padding: 100px 0;
  overflow: hidden;
  background-color: #f7f7f7;

  h2.title {
    margin-bottom: 35px;

    span {
      font-weight: 500;
      padding-bottom: 5px;
    }
  }

  .about-text {
    width: 90%;
    padding: 3rem 2rem;
    text-align: center;
    background-color: #fff;
    
    p.h5 {
      line-height: 1.6;
    }
  }

  img {
    box-shadow: 0 0 0 8px #fff;
    position: relative;
    transition: .8s all ease;
  }

  img.top {
    opacity: 0;
    top: -100%;

    &.slide {
      opacity: 1;
      top: -20px;
    }
  }

  img.bottom {
    opacity: 0;
    bottom: -100%;

    &.slide {
      opacity: 1;
      bottom: -20px;
    }
  }
}

.index-products {
  padding: 100px 0;
  overflow: hidden;

  .products-box {
    position: relative;
    margin-top: 20px;

    &+.products-box {
      margin-top: 60px;
    }
  }

  .cover {
    width: 50%;
    position: relative;
    z-index: 2;
    transition: .7s all ease;

    img {
      display: block;
    }
  }
  
  .info {
    width: calc(50% + 35px);
    height: 100%;
    padding: 5px 0;
    border-left: 50px solid #69846f;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    background-color: #ebe5db;
    background-color: #dde7df;
    transition: .7s all ease;
    
    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: #47646a;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
    }

    .title {
      border-bottom: 2px solid #47646a;
      position: relative;
      
      &::after {
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        bottom: -6px;
        background-color: #47646a;
      }
    }

    .content {
      font-size: 1.2rem;
      line-height: 1.7;
      text-align: center;
    }
  }

  .btn-box {
    .btn {
      font-size: 1.2rem;
      color: #395156;
      padding: 0 1rem;
      border-radius: 0;
      position: relative;
    }

    .btn:hover {
      color: #795548;
    }

    .btn+.btn {
      padding-left: calc(1rem + 5px);
    }

    .btn+.btn::before {
      content: '';
      width: 2px;
      height: 80%;
      display: block;
      background-color: #b5cbba;
      position: absolute;
      top: 10%;
      left: 0;
    }
  }
}

.index-products.hot {
  .products-box.slide {
    .cover {
      left: 0;
    }

    .info {
      right: 0;
    }
  }
  
  .cover {
    left: -100%;
  }

  .info {
    right: -100%;
  }
}

.index-products.new {
  background-color: #f7f7f7;

  .products-box.slide {
    .cover {
      opacity: 1;
    }

    .info {
      top: -26px;
    }
  }

  .cover {
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: .8s all ease;
  }

  .info {
    width: 95%;
    padding: 25px 0 80px;
    border: 0;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    top: 350px;
    z-index: 2;
    box-shadow: 0px 1px 3px #baae98;
    transition: 1s all ease;

    p {
      margin-bottom: 25px;
    }
  }

  .btn-box {
    width: 100%;
    padding: 0.7rem 0;
    text-align: center;
    background-color: #395156;
    position: absolute;
    bottom: 0;
    left: 0;

    .btn {
      color: #dde7df;
    }

    .btn:hover {
      color: #fbfcfb;
    }
    
    .btn+.btn::before {
      background-color: #68777a;
    }
  }
}

//----- 路徑
.path {
  margin-bottom: 20px;
}

//----- 品牌介紹
.about {
  h3 {
    @extend h2.title;
    font-size: 2rem;
    font-style: italic;

    span {
      color: #47646a;

      &::before,
      &::after {
        background-color: #47646a;
      }
    }
  }

  .about-des {
    display: flex;
    transition: .5s all ease;
    position: relative;
    background-color: #fff;

    &+.about-des {
      margin-top: 115px;
    }
    &:last-child {
      margin-bottom: 80px;
    }
  }

  .about-des.reverse {
    flex-direction: row-reverse;

    .about-text {
      padding: 3rem 4rem 3rem 8rem;
    }

    .about-img {
      top: -500px;
      left: 4rem;
    }
  }

  .about-des.slide {
    background-color: #dde7df;

    .about-text {
      opacity: 1;
    }

    .about-img {
      top: 3rem;
      opacity: 1;
    }

    &.reverse {
      .about-img {
        top: -3rem;
      }
    }
  }

  .about-text {
    flex: 1;
    opacity: 0;
    transition: 2s all ease;
    padding: 3rem 8rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      color: #47646a;
      font-size: 1.2rem;
      font-style: italic;
      line-height: 1.6;
      text-align: justify;
      margin: 0;
    }
  }

  .about-img {
    width: 350px;
    height: 450px;
    opacity: 0;
    position: relative;
    top: 500px;
    right: 4rem;
    transition: 1s all ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(@/../assets/img/shop.jpg);

    &.material {
      background-image: url(@/../assets/img/material.jpg);
    }
  }
}

//----- 產品列表
.products {
  .categorys {
    margin-bottom: 3rem;

    ul {
      text-align: center;
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        position: relative;
      }

      a {
        font-size: 1.25rem;
        padding: 0 25px;
      }

      a:hover {
        font-weight: bold;
        text-decoration: none;
      }

      li+li::before {
        content: '';
        width: 2px;
        height: 22px;
        display: block;
        background-color: #dbc7b9;
        position: absolute;
        top: calc(50% - 11px);
        left: 0;
      }
      
      .active a {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .cover {
    display: block;
    overflow: hidden;
    position: relative;

    &:hover {
      .pdt-content {
        opacity: 1;
      }  
    }

    .pdt-content {
      width: 100%;
      height: 100%;
      color: #fff;
      opacity: 0;
      padding: 15px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background: rgba($color: #000, $alpha: .5);
      transition: 0.8s;
      position: absolute;
      top: 0;
      left: 0;
    }

    .favorite {
      width: 24px;
      height: 24px;
      text-align: center;
      background: rgba($color: #fff, $alpha: .8);
      position: absolute;
      top: 2px;
      right: 2px;

      &.added {
        color: #d16161;
      }

      &:hover,
      &.added:hover {
        color: #c94747;
      }
    }
  }

  .info {
    text-align: center;
    background-color: #f6f4f0;
    box-shadow: 0px 1px 3px #baae98;

    .price-box {
      display: flex;
      align-items: center;
      justify-content: center;
      .origin {
        font-size: 0.875rem;
        margin-right: 30px;
        text-decoration: line-through;
      }
      .price {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
    .d-flex {
      width: 95%;
      padding: 5px 0;
      margin: 0 auto;
      border-top: 1px solid #c8b5a7;
    }
    .btn {
      width: 50%;
      color: #645c58;
      border-radius: 0;
      
      i {
        margin-right: 5px;
      }
      &+.btn {
        border-left: 1px solid #c8b5a7;
      }
      &:hover, 
      &:focus {
        box-shadow: none;
        background-color: #f0e8e1;
      }
    }
  }
}

//----- 單一產品
.product {
  padding-top: 120px;

  .info {
    h3 {
      padding: 0 25px 5px 5px;
      margin-bottom: 1rem;
      border-bottom: 3px solid #797979;
      position: relative;
    }
    
    .favorite {
      font-size: 1.25rem;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;

      &.added {
        color: #d16161 !important;
      }

      &:hover,
      &.added:hover {
        color: #c94747 !important;
      }
    }

    .d-flex {
      padding: 10px;
      margin-bottom: 25px;
      background: #f7f7f7;
    }

    .price-box {
      width: 50%;
      text-align: center;
      padding: 10px 15px 10px 5px;
      border-right: 2px solid #cac2c2;

      .category {
        color: #fff;
        padding: 5px 10px;
        margin: 10px 0;
        display: inline-block;
        background-color: #333;
      }
      p {
        margin: 0;
      }
      .origin {
        font-size: 1.2rem;
        text-decoration: line-through;
      }
      .price {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .add-cart {
      width: 50%;
      padding: 0 5px 0 15px;

      .count {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 10px;
      }

      select {
        width: 100px;
        font-size: 1.2rem;
        height: 35px;
        margin-right: 5px;
        border: 2px solid #ca8a73;
      }
    }

    .total {
      font-size: 1.2rem;
      padding: 0 10px;
      text-align: right;

      span {
        font-size: 1.5rem;
      }
    }
  }

  .intro-title {
    color: #64463b;
    padding: 0 5px 5px;
    margin: 0;
    border-bottom: 2px solid #bbb9b9;
  }

  .intro-content {
    padding: 15px 25px;
    background-color: #f1f5f2;

    ul {
      margin: 0 0 0 -20px;

      li+li {
        margin-top: 5px;
      }
    }
  }

  .description {
    height: auto;
    font-size: 1rem;
    border: 0;

    .ql-editor {
      height: auto;
      padding: 0;
    }
  }

  .swiper-container {
    padding: 0 50px;

    .swiper-button-prev,
    .swiper-button-next {
      color: #222;
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    .title {
      width: 100%;
      font-size: 1.2rem;
      color: #fff;
      padding: 7px 0;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba($color: #000, $alpha: .4);
    }
  }

  .like-products {
    padding: 35px 0 50px;
    margin-top: 60px;
    background-color: #f7f7f7;
  }
}

//----- 我的收藏
.favorite-products {
  .empty {
    padding: 80px 0 70px;
    margin: 3rem 0 5rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid #c9d9cc;
    position: relative;

    &::before {
      content: '';
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      display: block;
      border: 2px solid #c9d9cc;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    i {
      font-size: 5rem;
      color: #b6cabb;
      margin-bottom: 30px;
    }

    p {
      position: relative;
    }

    .btn {
      position: relative;
    }
  }

  .list {
    padding: 30px 0 50px;
  }

  .box {
    box-shadow: 1px 1px 3px #b6b6b6;

    .cover {
      display: block;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background: rgba($color: #000, $alpha: .1);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cover:hover {
      &::before {
        background: none;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      color: #795548;
      text-align: center;
      cursor: pointer;
      background: rgba($color: #fff, $alpha: .8);
      position: absolute;
      right: 2px;

      &:hover {
        color: #c94747;
      }
    }

    .favorite {
      color: #d16161;
      top: 2px;
    }

    .cart {
      top: 30px;
    }

    .info {
      font-size: 1.2rem;
      padding: 10px 5px;
      text-align: center;
    }
  }
}

//----- 購物車
.cart {
  .empty {
    padding: 100px 0 70px;
    margin: 5rem 0;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid #c9d9cc;
    position: relative;

    &::before {
      content: '';
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      display: block;
      border: 2px solid #c9d9cc;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    p {
      position: relative;
    }

    .btn {
      position: relative;
    }

    .cart {
      width: 60%;
      margin: 3rem auto 0;
      text-align: left;
    }

    i {
      font-size: 2rem;
      color: #4b6953;
      position: relative;
      animation: run-cart 3s infinite linear;
    }
  }

  .step {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;

    &>div {
      width: 180px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    span {
      width: 45px;
      height: 45px;
      line-height: 46px;
      color: #888;
      font-size: 1.5rem;
      font-family: math;
      text-align: center;
      margin-bottom: 8px;
      border-radius: 50%;
      background-color: #eee;
      position: relative;
    }

    p {
      color: #888;
      margin: 0;
    }

    &>div:nth-of-type(n+2) span::before {
      content: '';
      width: 129px;
      height: 3px;
      display: block;
      background-color: #eaeaea;
      position: absolute;
      top: 22px;
      left: -132px;
    }

    .active span {
      color: #2c3e50;
      background-color: #fdc8bf;

      &::before {
        background-color: #e3bcb6 !important;
      }
    }

    .active p {
      color: #2c3e50;
    }
  }

  .list {
    height: 100%;
    padding: 0 1rem 1rem;
    border: 1px solid #dedede;

    .table thead th {
      border-top: none;
    }

    .quantity {
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input[type="number"]{
        width: 50px;
        text-align: center;
        -moz-appearance: textfield;
      }
      
      button {
        font-size: 1.2rem;
        color: #b07065;
        border: none;
        background: none;
      }

      button:hover {
        color: #c94747;
      }

      button:focus {
        color: #c94747;
        outline: none;
      }

      button.disabled {
        color: #ccc;

      }
    }

    .delete:hover {
      cursor: pointer;

      &:hover {
        color: #d16161;
      }
    }
  }

  .amout {
    height: 100%;
    padding: 1rem;
    background-color: #fff2f0;
    background-color: #eedbd0;

    .table {
      tr td {
        border-top: 2px solid #eedbd0;
        background-color: #fff2f0;
      }

      td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  .total {
    padding: 0.3rem 0.75rem;
    background-color: #fff;
    
    div {
      display: flex;
      justify-content: flex-end;
    }

    div+div {
      margin-top: 5px;
    }

    span {
      margin-right: 5px;
    }

    p {
      width: 100px;
      margin: 0;
      text-align: right;
    }
  }

  .btn-box {
    padding-top: 1.5rem;
    margin-top: 2rem;
    border-top: 1px solid #aaa;
    text-align: center;
  }

  .buyer-data {
    position: relative;

    h3 {
      color: #64463b;
      padding-bottom: 8px;
      margin: 0 0 1.5rem;
      border-bottom: 5px solid #bbb9b9;
    }

    input,
    select,
    textarea {
      border-color: #aaa;
      border-radius: 0;
    }

    textarea {
      resize: none;
      height: 200px;
    }

    .btn {
      border-radius: 0;
    }
  }
}

//----- 訂單詳細資料
.order {
  @extend .cart;

  .total {
    padding: 0.5rem 0.75rem;
    border-top: 2px solid #aaa;
    background-color: #f7f7f7;
  }

  .intro-title {
    color: #64463b;
    padding: 0 5px 5px;
    margin: 0;
    border-bottom: 2px solid #bbb9b9;
  }

  .intro-content {
    padding: 15px 25px;
    background-color: #f1f5f2;

    p {
      margin: 0;

      &+p {
        margin-top: 5px;
      }
    }
  }
}

//----- 頁尾
footer {
  color: #fff;
  background-color: #333;
}

.footer-contact {
  position: relative;
  background-color: #47646a;

  .contact {
    padding: 3rem 0 3rem 45%;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 20px;
      left: -5px;
      opacity: 0.2;
      background-size: 40% auto;
      background-position: top left;
      background-repeat: no-repeat;
      background-image: url(@/../assets/img/logo_bg.png);
    }
  }

  h2.title {
    text-align: left;
    position: relative;

    span {
      color: #b2bec0;
      font-weight: normal;

      &::before,
      &::after {
        background-color: #8c9ea2;
      }
    }
  }

  p {
    color: #b2bec0;
    margin-bottom: 8px;
    position: relative;
  }

  iframe {
    position: relative;
    top: 10%;
  }
}